<network>
  <name>internal</name>
  <uuid>6c2cfbe4-8000-43db-8c1f-e6ebc8eea2e1</uuid>
  <domain name='internal'/>
  <ip address="192.168.90.1" netmask="255.255.255.0">
    <dhcp>
      <range start="192.168.90.2" end="192.168.90.254"/>
    </dhcp>
  </ip>
</network>

